mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 
큰 값을 가지는 레코드 수를 구하시오.

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [21]:
df= pd.read_csv('./mtcars.csv')
scaler=MinMaxScaler()
new=scaler.fit_transform(np.array(df['qsec']).reshape(-1,1))
print((new>0.5).sum())

# new

9

고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든 
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을 
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라 
채점)

In [126]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
x_train,y_train=pd.read_csv('./X_train.csv',encoding='cp949'),pd.read_csv('./y_train.csv',encoding='cp949')
encoder=LabelEncoder()

encoder.fit_transform(x_train.iloc[:,4])
encoded=encoder.transform(x_train.iloc[:,4])
# encoder.fit_transform(x_train.iloc[:,5])
encoded

array([ 5, 21,  6, ..., 32, 41,  5])

In [110]:

x_train['gender']=y_train['gender']
pd.isna(x_train).sum()
x_train.drop(['환불금액'],axis=1,inplace=True)
x_train.duplicated().sum()
x_train=x_train.iloc[:,[1,2,5,6,7,8]]
x_train

           총구매액     최대구매액  내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000    19  3.894737  0.527027    17
1       2136000   2136000     2  1.500000  0.000000     1
2       3197000   1639000     2  2.000000  0.000000     1
3      16077620   4935000    18  2.444444  0.318182    16
4      29050000  24000000     2  1.500000  0.000000    85
...         ...       ...   ...       ...       ...   ...
3495    3175200   3042900     1  2.000000  1.000000     0
3496   29628600   7200000     8  1.625000  0.461538    40
3497      75000     75000     1  1.000000  0.000000     0
3498    1875000   1000000     2  1.000000  0.000000    39
3499  263101550  34632000    38  2.421053  0.467391     8

[3500 rows x 6 columns]

In [111]:
def outlier(x):
    x=np.array(x)
    q1=np.percentile(x,25)
    q3=np.percentile(x,75)
    iqr=q3-q1
    low=q1-(1.5*iqr)
    high=q3+(1.5*iqr)
    x[np.where((x>high)| (x<low))]=x.mean()

    return x
for i in range(len(x_train.columns)):
    x_train.iloc[:,i]=outlier(x_train.iloc[:,i])

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [112]:
scaler=MinMaxScaler()
x_scaled=scaler.fit_transform(x_train)

df=pd.DataFrame(x_scaled,columns=x_train.columns)

          총구매액     최대구매액      내점일수   내점당구매건수    주말방문비율      구매주기
0     0.389407  0.254381  0.310345  0.588760  0.527027  0.265625
1     0.176009  0.091503  0.017241  0.101695  0.000000  0.015625
2     0.179432  0.082634  0.017241  0.203390  0.000000  0.015625
3     0.220987  0.141447  0.293103  0.293785  0.318182  0.250000
4     0.262837  0.481639  0.017241  0.101695  0.000000  0.312500
...        ...       ...       ...       ...       ...       ...
3495  0.179362  0.107685  0.000000  0.203390  1.000000  0.000000
3496  0.264704  0.181864  0.120690  0.127119  0.461538  0.625000
3497  0.169360  0.054727  0.000000  0.000000  0.000000  0.000000
3498  0.175167  0.071232  0.017241  0.000000  0.000000  0.609375
3499  0.465661  0.671354  0.637931  0.289028  0.467391  0.125000

[3500 rows x 6 columns]